.profile-container {
  width: 60vw;
  margin: auto;
  margin-top: 10%;
  position: relative;
}
.profile-image-container {
  height: 50vh;
  position: relative;
}
.profile-image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#user-profile-avatar {
  width: 100px;
  height: 100px;
  /* position: absolute;
  z-index: 100;
  right: 20px;
  top: 20px; */
  margin: auto;
}
.avatar-bg {
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 100;
  right: 20px;
  top: 20px;
  background-color: grey;
  z-index: 99;
  padding: 10px;
  border-radius: 80px;
}
.friends-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.friends {
  border: 1px solid grey;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  position: relative;
}

.more-icon {
  position: absolute;
  right: 5px;
  top: 5px;
}
.more-icon:hover {
  cursor: pointer;
}
.dropdown {
  height: 50px;
  background-color: rgb(100, 94, 94);
  padding: 5px;
  border-radius: 5px;
  position: absolute;
}
.dropdown:hover {
  background-color: rgb(214, 211, 211);
  color: black;
  cursor: pointer;
}
.profile-name-button {
  display: flex;
  justify-content: space-between;
}
.search-results {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.search-results > button {
  display: inline;
  border-radius: 25px;
  color: white;
  border: 1px solid white;
  max-width: fit-content;
  padding: 5px 20px;
}
/* .search-results > button:active {
  color: blue;
  background-color: grey;
} */
.search-results > button:hover {
  color: black;
  background-color: white;
  border: black;
}
.search-results-title {
  text-align: center;
  margin-bottom: 30px;
}
.clear-search-button {
  display: inline;
  max-width: fit-content;
  padding: 5px 20px;
  margin-left: 20px;
}
.clear-search-button:hover {
  color: white;
}
@media only screen and (max-width: 900px) {
  .profile-container {
    margin-top: 20%;
  }
}
@media only screen and (max-width: 1200px) {
  .profile-container {
    margin-top: 30%;
  }
}
