ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: #252424;
  border-bottom: 1px solid rgb(124, 123, 123);
  color: white;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
.right-nav {
  display: flex;
  flex-direction: row;
}
