@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
body {
  background: rgb(26, 26, 26);
  background-repeat: no-repeat;
  height: 100vh;
  color: rgb(201, 200, 200);
}

button {
  background-color: transparent;
  border: 2px solid rgb(135, 250, 250);
  color: rgb(135, 250, 250);
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: black;
  font-weight: bolder;
  background-color: rgb(135, 250, 250);
}

.container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: scroll;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container-main {
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: scroll;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container-cards {
  margin: 0 auto;
  width: 70vw;
  height: 100vh;
  text-align: center;
  overflow: scroll;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}
.container-friends {
  width: 30vw;
  height: 100vh;
  text-align: center;
  overflow: scroll;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container-placeholder {
  margin-top: 10rem;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: scroll;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  gap: 1rem;
  margin-top: 10rem;
}
input {
  background-color: rgb(112, 112, 111);
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: pink;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: pink;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 90vw;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 80vw;
  }
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  width: 0;
  background: transparent;
  border: none;
}
.album-info {
  color: rgb(79, 211, 244);
  font-weight: bolder;
}
.album-info-info {
  color: rgb(48, 79, 255);
  font-weight: bolder;
}
